:root {
  --brown: #e9e9e9;
  --tan: #202020;
  --teal: #71a8a7;

  --dark: #1d1d1d;
}

body {
  background-color: black;
  background-image: url(/assets/images/20383536.jpeg);
}

.logo{
  max-width: 15%;
  height: auto;
}
li,a,button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: aqua;
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  padding:  30px 10%;
}
.nav_links{
    list-style: none;
    
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: royalblue;
}



/* Nav Section */
::selection {
  color: var(--brown);
  background-color: var(--dark);
}

.custom-navbar {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  padding: 15px;
  background-color: var(--dark);
}

.custom-navbar a {
  padding: 25px;
  font-size: 2rem;
  color: var(--teal);
}

.custom-navbar a:hover {
  color: var(--black);
}

#welcome {
  color: var(--teal);
  font-size: 5rem;
  text-align: center;
}

/* .custom-jumbotron {
  background-color: var(--light);
  color: var(--brown);
} */
/*   
.custom-btn {
  background-color: var(--brown);
  color: var(--black);
}

.custom-btn:hover {
  background-color: var(--tan);
  color: var(--brown);
} */

/* Search Button Section */
.sb1 {
  display: flex;
  justify-content: end;
  width: 25%;
  margin-top: 25px;
}


/* Card Section */

.card-section {

  position: relative;
  display: flex;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 15px;
  
  align-content: center;
  background-color: rgb(255, 230, 0);
  border: solid white 10px;
  border-radius: 5%;
  height: fit-content;
}

.card img {
margin: 0 auto;
justify-content: center;
width: 400px;
height: 300px;
}

.player-name {
margin: auto;
}

.data-section{
margin: auto;
text-align: center;
}

.button {
  display: flex;
  
  height: 40px;
  width: 150px;
  font-weight: 500;
  border-radius: 15px;
}

.player-container {
display: flex;
justify-content: flex-end;
background-color: rgb(255, 230, 0);
height: 500px;
width: 600px;
border: solid white 7px;
border-radius: 5%;
}

.live-game-container{
margin: 50%;

background-color: rgb(255, 230, 0);
height: 300px;
width: 600px;
border: solid white 7px;
border-radius: 5%;
}

.save-btn{
justify-content:flex-end;
text-align: center;
}

.live {
text-align: center;
color: white;
}

label {
text-align: center;
color: white;
font-size: 25px;
}

#gameDay1{
  width:100%;

    position: relative;
    display: flex;
    margin: auto;
    width: 975px;
    height: 700px;
}

